.bg-propio {
    background-color: black;
}

.container-fluid {
    padding: 0px;
}

.barra-nav {
    padding: 20px !important;
}

.header {
    color: #0c0c0c;
    font-size: 27px;
    padding: 10px;
}

.bigicon {
    font-size: 35px;
    color: #0d0d0e;
}